.field-row {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}

.field-label {
  padding: 8px 16px;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: center;
}

.field-value {
  padding: 8px 16px;
  flex: 2;
  display: flex;
  align-items: center;
}
