<mat-toolbar class="px-2" color="primary">
  <button matMiniFab (click)="alternar()" aria-label="Abrir menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-fill text-center">{{ titulo() }}</span>
  @if(pagina() === 'dashboard') {
  <button matMiniFab style="visibility: hidden">
    <mat-icon>logout</mat-icon>
  </button>
  } @else { @if(pagina() === 'extrato') {
  <button matMiniFab (click)="novaCompra()">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
  } @else {
  <button matMiniFab (click)="voltar()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  } }
</mat-toolbar>
