<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<mat-toolbar class="px-2" color="primary">
  <button matMiniFab style="visibility: hidden">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="flex-fill text-center">Menu</span>
  <button matMiniFab aria-label="Fechar" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-nav-list>
  @if(usuarioLogado){
  <a mat-list-item (click)="navegar('dashboard')">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Painel</span>
  </a>
  <a mat-list-item (click)="navegar('extrato')">
    <mat-icon matListItemIcon>shopping_bag</mat-icon>
    <span matListItemTitle>Ver compras</span>
  </a>
  <a mat-list-item (click)="navegar('inserir-compra')">
    <mat-icon matListItemIcon>add_shopping_cart</mat-icon>
    <span matListItemTitle>Nova compra</span>
  </a>
  <a mat-list-item (click)="navegar('painel-faturas')">
    <mat-icon matListItemIcon>note_stack</mat-icon>
    <span matListItemTitle>Minhas faturas</span>
  </a>
  <a mat-list-item (click)="navegar('criar-fatura')">
    <mat-icon matListItemIcon>note_add</mat-icon>
    <span matListItemTitle>Criar fatura</span>
  </a>
  <a mat-list-item (click)="navegar('inserir-arquivo')">
    <mat-icon matListItemIcon>add</mat-icon>
    <span matListItemTitle>Inserir arquivo</span>
  </a>
  <a mat-list-item (click)="logout()">
    <mat-icon matListItemIcon>logout</mat-icon>
    <span matListItemTitle>Sair</span>
  </a>
  } @else {
  <a mat-list-item (click)="navegar('')">
    <mat-icon matListItemIcon>login</mat-icon>
    <span matListItemTitle>Login</span>
  </a>
  <a mat-list-item (click)="navegar('cadastro')">
    <mat-icon matListItemIcon>add</mat-icon>
    <span matListItemTitle>Cadastro</span>
  </a>
  }
</mat-nav-list>
